<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="archive"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      {{mailParams.envelope.subject}}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://eu.ui-avatars.com/api/?size=128&rounded=true&length=1&name={{mailParams.envelope.from[0].address}}">
    </ion-avatar>
    <ion-label>
      <h2>{{mailParams.envelope.from[0].address}}</h2>
      <p>{{mailParams.envelope.date}}</p>
    </ion-label>
  </ion-item>
  <div [innerHtml]="mailBodyContent | keepHtml" style="padding: 3%;"></div>
  <div *ngIf="loading">
    <ion-item>
      <hr>
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <hr>
        <h3>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h3>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <hr>
    <ion-item>
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
        <hr>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="undo"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button style="display: contents;">
        <ion-icon slot="icon-only" name="undo"></ion-icon>
        <ion-icon slot="icon-only" name="undo"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="redo"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>